{% extends layout('default') %}

{% block content %}
	<div>
		<div class="card">
			<h2 class="card-title">Upcoming Classes</h2>
			<ul class="clean table">
				{% for entry in classes %}
				<li
					{% if ( class.class_date.date == entry.class_date.date) %}class="current"{% endif %}
					>
					<a
						href="/classes/{{ entry.class_date.format('Y-m-d') }}"
						title="Class on {{ entry.class_date.date }}">
						{{ entry.class_date.date }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div>
		<section class="classes">
			<h1>Next Class: {{ class.class_date.date|date("D d\/m") }}</h1>
			{% for entry in class.night_classes %}
				<h2>{{ entry.class_style.name }}</h2>
				<p class="sub">{{ entry.class_start.time }} - {{ entry.class_end.time }}</p>
				<p class="description">{{ entry.class_style.description }}</p>
			{% endfor %}

			<h2>Location: {{ class.class_location.name }}</h2>
			{% if class.class_location.instructions %}
				<p>{{ class.class_location.instructions }}</p>
			{% endif %}
			{{ class.class_location.location.embed().height(500)|raw }}
		</section>
	</div>
{% endblock %}
