{% extends layout('admin') %}

{% block content %}
	<style>{{ asset_inline("finnito.module.classes::css/classes-module.css") }}</style>
	<style>{{ asset_inline("finnito.module.classes::css/fullcalendar.min.css") }}</style>
	<script>{{ asset_inline("finnito.module.classes::js/jquery.min.js") }}</script>
	<script>{{ asset_inline("finnito.module.classes::js/jquery-ui.min.js") }}</script>
	<script>{{ asset_inline("finnito.module.classes::js/moment.min.js") }}</script>
	<script>{{ asset_inline("finnito.module.classes::js/fullcalendar.min.js") }}</script>

	<div class="container-fluid">
		<div class="card">
			<div class="text">
				<h2>Classes Module</h2>
				<p>The regular table-view has been replaced with a calendar view for better ease-of-use.</p>
				<div id="calendar"></div>
			</div>
			<script>
			$(function() {
				$("#calendar").fullCalendar({
					weekNumbers: true,
				    weekNumbersWithinDays: true,
				    firstDay: 1,
				    eventRender: function(event, element) {
                     var div =   `
                         <div class="fc-hover-bubble">
                             <div class="flex-row">
                             <div>${event.description}</div>
                                 <div>
                                     <div>
                                         <a href="/admin/classes/edit/${event.classID}" class="btn btn-sm btn-success" title="Edit Night">Edit</a>
                                     </div>
                                     <div>
                                         <a href="/admin/classes/duplicate/${event.classID}" class="btn btn-sm btn-success" title="Copy +1 Week">Copy +1 Week</a>
                                     </div>
                                     <div>
                                         <a href="/admin/classes/duplicate_edit/${event.classID}" class="btn btn-sm btn-success" title="Copy +1 Week & Edit Night">Copy +1 Week & Edit</a>
                                     </div>
                                     <div>
                                         <a href="/admin/classes/delete/${event.classID}" class="btn btn-sm btn-danger" title="Delete Night">Delete</a>
                                     </div>
                                 </div>
                             </div>
                         </div>`;
                     element.append(div);
                    },
                    eventAfterAllRender: function() {
                     for (var i = 0; i < $("div.fc-week").length; i++) {
                         $(".fc-week:eq(" + i + ")").css("z-index", ($("div.fc-week").length - i));
                     }
                    },
					eventSources: [
						{
							events: [
								{% for night in nights %}
									{
										title: "UCanDance Class",
                                        start: "{{ night.class_date.format('Y-m-d') }}T{{ night.night_classes[0].class_start.format('H:i:s') }}",
                                        end: "{{ night.class_date.format('Y-m-d') }}T{{ night.night_classes|last.class_end.format('H:i:s') }}",
                                        description: "{{ night.getClassNames()|raw }}",
                                        classID: "{{ night.id }}",
                                        displayEventEnd: true,
									}
									{% if not loop.last %},{% endif %}
								{% endfor %}
							],
							color: "#5bc0de",
							textColor: "white"
						}
					]
				})
			});
			</script>
		</div>
	</div>
	<style>
	.fc-widget-content .fc-scroller .fc-day-grid {
		overflow-y: visible;
	}
	.fc-view-container .fc-content {
		z-index: 99999;
	}
	.fc-view-container .fc-event > .fc-hover-bubble {
		/*display: none;*/
		position: absolute;
		background-color: #F2F2F2;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		opacity: 0;
		z-index: -9999;
		transition: opacity 200ms, top 200ms;
		margin: 0;
		padding: .25rem;
		box-sizing: border-box;
		border-radius: 0.25rem;
		top: 0;
		/*width: 100%;*/
		left: 0;
		/*max-height: 5rem;*/
		width: 300%;
		overflow: scroll;
		visibility: hidden;
		color: black;
	}

	.fc-view-container .fc-event:hover * {
		z-index: 99999;
	}

	.fc-view-container .fc-event:hover > .fc-hover-bubble {
		/*display: block;*/
		opacity: 1;
		z-index: 9999;
		top: 1.25rem;
		
		visibility: visible;
	}
	</style>
{% endblock %}
