.card .text {
  padding: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .25rem;
}

.flex-row.divided {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  /*padding: 1rem;*/
}

.flex-row.divided div {
  flex-grow: 1;
  padding: 1rem;
  border-right: 1px solid white;
}

.flex-row.divided div:last-child {
  border-right: none;
}

.flex-row.divided div p {
  font-size: 1.5rem;
}

.flex-row.divided div p + p {
  font-size: 1.5rem;
}

.btn {
  margin: 0.25rem auto;
}