<div class="row">
    <div class="column">
        <div class="row">
            <div class="column">
                {{ form.fields.class_style|raw }}
            </div>
            <div class="column">
                {{ form.fields.class_start|raw }}
            </div>
            <div class="column">
                {{ form.fields.class_end|raw }}
            </div>
        </div>
    </div>
</div>
{{ asset_add("styles.css", "finnito.module.rosters::css/customForms.css") }}
