<div class="repeater-item">

    {% include field_type.config.controls_view ?: "finnito.module.classes::admin/classes/repeater_controls" %}

    {# <div class="clearfix"></div> #}

    {% include "anomaly.field_type.repeater::partials/fields" %}

    <div class="repeater-body">
    	{% include "finnito.module.classes::admin/classes/repeater_form" %}
    </div>

</div>
